body {
    background-color: #f5f5f5;
}
 
header {
    box-shadow: 0 2px 5px gray;
}
 
table {
    background-color: white;
}
 
.cold td {
    background-color: lightblue;
}
 
.hot td {
    background-color: lightcoral;
}
 
textarea {
    font-family: monospace;
}
 